<div class="row-fluid">
  <div class="span2">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="span10">
    <p id="notice"><%= notice %></p>

    <p>
    <b>Name:</b>
    <%= @project.name %>
    </p>

    <p>
    <b>Description:</b>
    <%= @project.description %>
    </p>

  </div>
</div>
